.Destination {
    padding: 4rem;
    background-color: var(--background-color);
    /* text-align: center; */
  }

  .topContainer {
    text-align: center;
    color: var(--primary-text-color);
  }

  .bottomContainer {
    text-align: center;
    color: var(--primary-text-color);
  }

  .ratingContainer {
    text-align: center;
    margin: 10px;
  }

  .textContainer {
    margin: 10px
  }

  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .Destination__container {
    max-width: 2000px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-items: center;
  }

  .Destination__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }


  .Destination__items {
    margin-bottom: 24px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
  }

  .Description_container {
    margin: 10px;
    display: flex;
    max-width: 1000px;
    width: 100%;
    align-items: center;
  }

  .cards__item {
    margin: 1rem;
    flex: 1 1 auto;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }


  .cards__item__pic-wrap {
    position: relative;
    max-width: 100%;
    max-height: 500px;
    overflow: hidden;
  }

  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }

  /* This ::after element works, the one in DestinationBox.css does not
  I have added justify-content: left and left: 0*/

  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    justify-content: left;
    left: 0;
    bottom: 0;
    /* margin-left: 10px; */
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }

  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }

  .cards__item__img:hover {
    transform: scale(1.1);
  }

  .cards__item__info {
    padding: 20px 30px 30px;
  }

  .cards__item__text {
    /* color: #252e48; */
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 24px;
  }
  #destination-description{
    text-align: center;
    max-width: 1000px !important;
    width: 100% !important;
  }

  #destination-description-item {
    align-items: center;
  }
  #description-text{
    text-align: center;
  }
  #reviewButton {
    background-color:burlywood;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .frontpage_description{
    width: 50ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .frontpage_description{
    width: 50ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #reviewButton:hover {
    background-color: #f4a460;
  }

  input[type=radio]{
    display: none;
  }

  .star{
    cursor: pointer;
  }

  .reviewText {
    resize: none;
    height: 100px;
    width: 500px;
    font-size: 20px;
    padding: 10px;
    color: var(--primary-text-color);
  }

  #submitReview {
    background-color:burlywood;
    margin: 7px;
    padding: 2px;
  }

  #submitReview:hover {
    background-color: #f4a460;
  }

  .reviewDiv {
    text-align: left;
    margin-top: 50px;
  }

  .reviewContainer {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    overflow-wrap: break-word;
    color: var(--primary-text-color);
  }

  #editButton {
    background-color:burlywood;
    color: white;
    margin: 7px;
    padding: 2px;
    float: right;
  }

  #editButton:hover {
    background-color: #f4a460;
  }

  #cancelButton {
    background-color:red;
    color: white;
    margin: 7px;
    padding: 2px;
    float: right;
  }

  #cancelButton:hover {
    background-color: #ff6347;
  }

  #saveEditButton {
    background-color:rgb(50, 203, 50);
    color: white;
    margin: 7px;
    padding: 2px;
    float: right;
  }

  #saveEditButton:hover {
    background-color: #6cdb6c;
  }

  #editReviewText {
    resize: none;
    height: 50px;
    width: 200px;
    font-size: 12px;
    padding: 4px;
    margin: 5px;
  }
