.toggle-container {
    padding: 20px;
    /* position: absolute; */
    right: 80px;
    top: 11px;
    position: absolute;
    z-index: 1;


}

label {
    color: var(--secondary-text-color);
}

#check {
    visibility: hidden;
}

