.filter_button {
    outline:none;
    cursor:pointer;
    width: 50px;
}

#sliderIcon {
    font-size: 2.5rem;
    color: var(--primary-text-color);
}

#sliderIcon:hover {
    color: #888686;
}

#filterText {
    color: var(--primary-text-color);
}
