.filter_button {
    outline:none;
    cursor:pointer;
    width: 50px;
}

.filter_box {
    display:none;
}

.filter_button:focus + .filter_box{
    display:block;
}

#sliderIcon {
    font-size: 2.5rem;
    color: #333;
}

#sliderIcon:hover {
    color: #888686;
}

#filterText {
    color: #333;
}