/*.header-container {

    background: url('../assets/Header-bilde.jpg') no-repeat top center;
    background: url('../assets/Header-bilde.jpg') no-repeat top center;
    background-size: cover; /* Needed to make header-picture fill bigger screens
    background-position: center top;
}*/


#header-text {
    color: aquamarine;
    size: large;
}




