.ProfilePage {
    margin: 40px auto;
    border-radius: 10px;
    width: 80%;
    background-color: var(--toggle-gg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    display: block;
    justify-content: center;

}

.profile-card {
    margin: 20px auto;
    padding: 20px;
    /*border: 1px solid #e0e0e0;
    border-radius: 10%;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);*/
    width: 50%;
    display: block;
    text-align: center;
}

#UserProfileTitle {
    color: var(--primary-text-color);
    margin-bottom: 15px;
    font-size: 2em;
}

#homebutton {
    background-color: rgb(172, 152, 114);
    margin-top: 50px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #fefefe;
    padding: 7.5px 10px;
    width: 250px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
}

#homebutton:hover {
    background-color: rgba(172, 152, 114, 0.517);
    cursor: pointer;
}

h1 {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 1px;
}


h2 {
    font-size: 1.5em;
    font-weight: lighter;
    color: var(--toggle-fg);
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
}



.profile-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    
}

.user-info-paragraph {
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    background-color: rgba(172, 152, 114, 0.223);
    text-align: center;
    display: block;
    justify-content: center;
    border-radius: 10px;
}

.user-info-email {
    display: flex;
    margin-top: 10px;
    width: 50%;
    font-size: 25px;
    text-overflow: word-wrap;
    word-wrap: break-word;
}

strong {
    padding-right: 4px;
}

#userImage {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.Reviews_Visited {
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    background-color: rgba(172, 152, 114, 0.223);
    text-align: center;
    display: block;
    justify-content: center;
    border-radius: 10px;
    color: var(--primary-text-color);
}
