:root {
    --background-color: #fff;
    --foreground-color: #fff;
    --primary-text-color: #252e48;
    --secondary-text-color: #252e48;
    --toggle-bg: #f0eb9d;
    --toggle-fg: #ffd000;
  }
  
[data-theme="dark"] {
    --background-color: #1b1b25;
    --foreground-color: #252e48;
    --primary-text-color: #f6f6f6;
    --secondary-text-color: wheat;
    --toggle-bg: #283452;
    --toggle-fg: #00a6ff;
}